@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfffe;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100px;
}

/* ---------- Navbar Styling ---------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left img {
  width: 110px;
}

.nav-mid {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  color: #c4c5c4;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.nav-item-active {
  color: black;
}

.nav-right button {
  padding: 10px 20px;
  border: 2px solid #2fa6f4;
  border-radius: 5px;
  color: #4ba4f2;
}

/* -------------- Hero Section -------------- */

.hero-section {
  margin: 100px 150px;
  display: flex;
  justify-content: space-between;
}

.hero-sec-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.hero-sec-left h1 {
  font-size: 50px;
  font-weight: 700;
}

.hero-sec-left p {
  font-size: 13px;
  color: #4b849b;
}

.hero-sec-left button {
  width: 180px;
  background-image: linear-gradient(
    to right bottom,
    #66bbe3,
    #24aaee,
    #0097f7,
    #0081fb,
    #3465f6
  );
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  box-shadow: #369ac826 0px 1px 2px 0px, #369ac84d 0px 2px 6px 2px;
  border: none;
  border-radius: 5px;
}

.hero-sec-right img {
  width: 550px;
}

/* --------------- Quality Section --------------- */

.quality-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}

.quality-sec-left {
  width: 50%;
}

.quality-sec-left img {
  width: 550px;
}

.quality-sec-right {
  width: 45%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.quality-sec-right h1 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 700;
}

.quality-sec-right p {
  width: 60%;
  font-size: 13px;
  color: #4b849b;
  line-height: 30px;
}

.quality-sec-right button {
  width: 180px;
  background-image: linear-gradient(
    to right bottom,
    #66bbe3,
    #24aaee,
    #0097f7,
    #0081fb,
    #3465f6
  );
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  box-shadow: #369ac826 0px 1px 2px 0px, #369ac84d 0px 2px 6px 2px;
  border: none;
  border-radius: 5px;
}

/* ----------- Support Section ----------- */

.support-section {
  margin: 100px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support-sec-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  height: 350px;
}

.support-sec-left h1 {
  font-size: 50px;
  font-weight: 700;
}

.support-sec-left p {
  width: 70%;
  font-size: 13px;
  color: #4b849b;
  line-height: 30px;
}

.support-sec-left button {
  width: 180px;
  background-image: linear-gradient(
    to right bottom,
    #66bbe3,
    #24aaee,
    #0097f7,
    #0081fb,
    #3465f6
  );
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  box-shadow: #369ac826 0px 1px 2px 0px, #369ac84d 0px 2px 6px 2px;
  border: none;
  border-radius: 5px;
}

.support-sec-right {
  width: 50%;
}

.support-sec-right img {
  width: 550px;
}

/* ----------- Service Section ----------- */

.service-section {
  margin: 50px 150px;
  display: flex;
  flex-direction: column;
}

.service-sec-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-sec-top h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.service-sec-top p {
  width: 48%;
  font-size: 13px;
  color: #4b849b;
  line-height: 30px;
}

.service-sec-mid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(217, 172, 172, 0.55);
  width: 300px;
}

.service-item img {
  width: 45px;
}

.service-item p {
  font-size: 13px;
  color: #4b849b;
  line-height: 20px;
}

.service-sec-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.tab-below {
  display: none;
}

/* ------------- Pricing Section ------------- */

.pricing-section {
  padding: 100px 150px;
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  background: linear-gradient(
    to right bottom,
    #66bbe3,
    #24aaee,
    #0097f7,
    #0081fb,
    #3465f6
  );
}

/* ------ Pricing Heading ------ */

.pricing-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  background: transparent;
  margin-top: 15px;
}

.pricing-heading h2 {
  font-size: 40px;
  font-weight: 700;
  background: transparent;
  text-transform: capitalize;
  color: white;
}

/* ------ Pricing Cards -------- */

.pricing-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-bottom: 20px;
}

.pricing-cards li {
  list-style: none;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 530px;
  width: 300px;
  border-radius: 8px;
}

/* ----- TOP OF CARD ----- */

.pricing-card-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
}

.pricing-card-top p {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  color: #4b849b;
  line-height: 20px;
  background: transparent;
}

.pricing-card-mid-top {
  background-color: #343435;
}

.pricing-card-mid-top h2 {
  background-color: transparent;
  color: white;
}

.pricing-card-mid-top p {
  color: white;
  font-weight: 500;
}

.pricing-card-mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.check {
  width: 22px;
}

.pricing-card-mid span {
  display: flex;
  gap: 10px;
}

.pricing-card-bottom {
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  align-items: center;
}

.pricing-card-bottom span {
  color: #4b849b;
}

.pricing-card-bottom p {
  font-size: 13px;
  font-weight: 700;
  color: #4b849b;
  line-height: 20px;
  text-transform: capitalize;
}

.btn-non-active {
  font-weight: 700;
  padding: 10px 20px;
  border: 2px solid #2fa6f4;
  border-radius: 5px;
  color: #4ba4f2;
}

.btn-active {
  background-image: linear-gradient(
    to right bottom,
    #66bbe3,
    #24aaee,
    #0097f7,
    #0081fb,
    #3465f6
  );
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  box-shadow: #369ac826 0px 1px 2px 0px, #369ac84d 0px 2px 6px 2px;
  border: none;
  border-radius: 5px;
}

/* ------------ Feedback Section ------------ */

.feedback-section {
  background-color: #fdfffe;
  display: flex;
  flex-direction: column;
  padding: 50px 150px;
}

/* --------- Heading --------- */

.feedback-heading {
  text-align: center;
}

.feedback-heading h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.feedback-heading p {
  width: 80%;
  margin: 0px auto;
  margin-top: 25px;
  font-size: 13px;
  font-weight: 500;
  color: #4b849b;
  line-height: 25px;
}

/* ------- Cards ------- */

.feedback-card-1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.feedback-card-left {
  border-radius: 8px;
  width: 45%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.feedback-card-left p {
  color: black;
  font-size: 15px;
  line-height: 30px;
}

.card-left-bottom {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-name {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.feedback-card-right {
  border-radius: 8px;
  width: 45%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.feedback-card-right p {
  color: black;
  font-size: 15px;
  line-height: 30px;
}

.profile-name p {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.profile {
  display: flex;
}

.profile img {
  width: 50px;
  color: ;
}

.feedback-card-active {
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.feedback-card-2 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* ------------- Register Section ----------------*/

.register-section {
  background-image: url("./Assets/footer-bg.svg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  margin-top: 100px;
  /* height: 400px; */
}

.register-heading {
  background: transparent;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.register-heading h2 {
  background: transparent;
  text-transform: capitalize;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 62px;
  width: 80%;
}

.register-heading p {
  width: 70%;
  background: transparent;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #bee3fc;
}

.register-now {
  background: transparent;
}

.register-now button {
  padding: 15px 40px;
  background: transparent;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

/* ------------ Footer Section ------------- */

.footer-section {
  margin: 100px 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  color: #9098a9;
}

/* ---- Logo Sec ---- */

.logo-section p {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #9098a9;
}

/* ---- Menu Sec ---- */

.menu-items {
  margin-top: 20px;
}

/* ---- Link Sec ---- */

.link-items {
  margin-top: 20px;
}

/* ---- Overview Sec ----- */

.overview-items {
  margin-top: 20px;
}

/* ----- Social Media Section ------ */

.social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-icon {
  margin-top: 20px;
}

.social-media-icon img {
  width: 122px;
}

.footer-section h3 {
  font-size: 20px;
}

/* ------  Tablet Responsive  ------ */

@media screen and (min-width: 900px) and (max-width: 1300px) {
  nav {
    margin: 50px 50px;
  }

  .mid {
    display: none;
  }

  /* ------ Hero Section ------ */

  .hero-section {
    margin: 60px 50px;
  }

  .hero-sec-left {
    width: 50%;
  }

  .hero-sec-left h1 {
    font-size: 40px;
  }

  .hero-sec-left button {
    width: 140px;
    font-size: 12px;
    padding: 6px;
  }

  .hero-sec-right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-sec-right > img {
    width: 450px;
    max-width: 100%;
  }

  /* ------ Quality Section ------ */

  .quality-section {
    margin: 60px 50px;
  }

  .quality-sec-left {
    width: 50%;
  }

  .quality-sec-left > img {
    width: 450px;
    max-width: 100%;
  }

  .quality-sec-right {
    width: 50%;
  }

  .quality-sec-right h1 {
    font-size: 40px;
  }

  .quality-sec-right p {
    width: 80%;
  }

  .quality-sec-right button {
    width: 140px;
    font-size: 12px;
    padding: 6px;
  }

  /* ------ Support Section ------ */

  .support-section {
    margin: 60px 50px;
  }

  .support-sec-right {
    width: 50%;
  }

  .support-sec-right > img {
    width: 450px;
    max-width: 100%;
  }

  .support-sec-left {
    width: 50%;
  }

  .support-sec-left h1 {
    font-size: 38px;
  }

  .support-sec-left p {
    width: 80%;
  }

  .support-sec-left button {
    width: 140px;
    font-size: 12px;
    padding: 6px;
  }

  /* ------ Service Section ------ */

  .service-section {
    margin: 60px 50px;
  }

  .service-sec-bottom {
    gap: 20px;
  }

  .tab-below {
    display: none;
  }

  /* ------- Pricing Section ------ */

  .pricing-section {
    padding: 60px 50px;
  }

  .pricing-cards {
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }

  /* ----- Feedback Section -------- */

  .feedback-section {
    padding: 50px;
  }

  /* ------ Register Section ------- */

  .register-section {
    padding: 50px;
  }

  .register-heading {
    width: 60%;
  }

  .register-heading h2,
  p {
    width: 80%;
  }

  /* ----- Footer Section ------ */

  .footer-section {
    margin: 60px 50px;
  }
}


/* ------ Mobile Responsive ------- */

@media screen and (max-width: 900px) {
  nav,
  .hero-section,
  .quality-section,
  .support-section,
  .service-section {
    margin: 40px;
  }

  .mid {
    display: none;
  }

  .nav-left img {
    width: 80px;
  }

  .nav-right button {
    padding: 5px 10px;
    font-size: 12px;
    width: 100px;
  }

  /* ------ Hero Section ------ */

  .hero-section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .hero-sec-left {
    width: 100%;
  }

  .hero-sec-left h1 {
    font-size: 35px;
  }

  .hero-sec-left button {
    font-size: 12px;
  }

  .hero-sec-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .hero-sec-right img {
    width: 400px;
    max-width: 100%;
  }

  /* ------ Quality Section ------ */

  .quality-section {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .quality-sec-right {
    height: auto;
    width: 100%;
  }

  .quality-sec-right h1 {
    text-transform: capitalize;
    font-size: 35px;
  }

  .quality-sec-right p {
    width: 100%;
  }

  .quality-sec-right button {
    font-size: 12px;
  }

  .quality-sec-left {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .quality-sec-left img {
    width: 400px;
    max-width: 100%;
  }

  /* ------ Support Section ------ */

  .support-section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .support-sec-left {
    height: auto;
    width: 100%;
  }

  .support-sec-left h1 {
    text-transform: capitalize;
    font-size: 35px;
  }

  .support-sec-left p {
    width: 100%;
  }

  .support-sec-left button {
    font-size: 12px;
  }

  .support-sec-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .support-sec-right img {
    width: 400px;
    max-width: 100%;
  }

  /* ----- Service Section ------- */

  .service-sec-top {
    flex-direction: column;
    gap: 20px;
  }

  .service-sec-top h1 {
    text-align: center;
  }

  .service-sec-top p {
    text-align: center;
    width: 80%;
  }

  .tab-above {
    display: none;
  }

  .service-sec-mid {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  /* ----- Pricing Section ----- */

  .pricing-section {
    padding: 40px;
  }

  .pricing-cards {
    flex-direction: column;
    gap: 20px;
  }

  /* ----- Feedback Section ----- */

  .feedback-section {
    padding: 40px;
  }

  .feedback-card-1 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .feedback-card-left,
  .feedback-card-right {
    width: 90%;
  }

  .feedback-card-2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* ------ Register Section ------ */

  .register-section {
    padding: 40px;
    flex-direction: column;
    gap: 20px;
  }

  .register-heading {
    align-items: center;
    width: auto;
  }

  .register-heading h2 {
    width: 100%;
    text-align: center;
  }

  .register-heading p {
    width: 100%;
    text-align: center;
  }

  /* ----- Footer Section ------ */

  .footer-section {
    margin: 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-section p {
    text-align: center;
  }

  .menu-section,
  .link-section,
  .overview-section {
    display: none;
  }
}
